/app/Console/Commands
/app/ScriptManagement/obfuscate.js
/app/ScriptManagement/obfuscate_old.js
/app/ScriptManagement/ScriptManager1.php
/app/ScriptManagement/Minifier.php
/app/StyleManagement/StyleManager.php
app/Http/Middleware
/node_modules
/public/hot
/public/storage
/storage/logs/laravel.log
/storage/*.key
/vendor
/public/*.zip
*.zip
/db
/docs
/uploads
.env
.env.backup
composer.json.backup.sam
/composer.json.backup.sam
composer.json.local
/composer.json.local
composer.lock
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-.debuglog
yarn-error.log
/.idea
/.vscode
.DS_Store
public/.DS_Store
public/assets/.DS_Store
.DS_Store
public/.DS_Store
public/assets/.DS_Store
storage/logs/laravel.log
laravel.log
*.log

# ingore copy files
*copy*
