  /* Set a minimum width for the Choices container */
  .choices, .choices__inner {
    min-width:150px;
    width:100%;
    border-radius: 100px;
    background-color: #fff;
    border-radius: 5px;
  }
  .choices__inner select{
    max-height:41px;
    border-radius: 50px;
  }
  .choices__list--dropdown {
    max-height: 300px; /* Adjust the value as needed */
    background-color: #fff;
    border-radius: 2px;
    position: absolute !important;
    z-index: 3000;
    border:1px solid lightgray;
  }

  /* Optionally set a minimum width for the select element itself */
  .js-choice {
    width:100%;
  }
  .select2, .modal-select2{
    width:100%;
  }

  .choices__item--selectable {
    white-space: nowrap;
    width:100%;
    text-overflow: ellipsis;
  }