* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

#body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  /* background-color: #2b3991;  */
  /* background-image: url('../images/bhr/new_staff.jpg'); */
  background-image: url('https://ideogram.ai/assets/image/lossless/response/uVaaSLs1RNaW821R-kn9Tw');

  background-size: cover; /* Ensure the image covers the entire area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Avoid repeating the image */
}


.box-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}

.container {
  width: 30%;
  height: auto;
  background-color:#bcc6cd3d;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* background-image: url('https://static.vecteezy.com/system/resources/thumbnails/029/498/567/small/tech-baclground-design-with-networking-and-connections-photo.jpg'); */
  

}

.logo_ {
  width: 100%;
  height: 100px;
  padding-top: 10px;
  display: flex;
  justify-content: center;


}

.vs-title {
  font-size: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
}

.link-view-app {
  cursor: pointer;
}
a.link{
  color: #2b3991;
}
a.link:hover{
  color: #cab54a;
}

.ratings i {
  color: #cab54a;
}




.card {
  transition: all .5s;
}

.card:hover {
  transform: scale(1.05);



}
.vs-d-flex-copyright{
  width:100%;
  /* display:none; */
  display:flex;
  height:20%;
  align-items:center;
  justify-content:center;
  flex-direction: column;

  /* color:#fff; */
  font-size:14px;
}


 .vs-d-flex-copyright span{
  padding:5px 0;
  color: #fff;
}