* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.vs-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vs-contain-imgFront-form {
    width: 80%;
    max-height: 600px;
    max-width: 1020px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    box-shadow: 0 0.5rem 1rem #00000026;
    border-radius: var(--bs-border-radius-lg);
}

.sub-vs-contain-imgFront-form {
    border-radius: var(--bs-border-radius-lg);
    background-color: #ffffffd3;
    padding:1rem;
    color:#000;
    width:50%;
    height:600px;
}

.form-size {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--bs-border-radius-2xl);
    flex-direction: column;
}

.vs-form-group,
.vs-btn-group {
    width: 100%;
}

.vs-btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-inside {
    width: 100%;
}

.form-inside form {
    width: 100%;
    display:flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
}

.vs-form-group .vs-form-label {
    font-size: calc(1.175rem + 0.1vw);
}

.vs-form-group .vs-form-control:focus,
.vs-form-group .vs-form-control:focus-visible,
.vs-form-group .vs-form-control {
    padding: 1rem 0.5rem;
    border: none;
    outline: none;
    border-radius: var(--bs-border-radius-lg);
    background-color: #f5f5f5;
}

input::placeholder {
    padding: 0 0.5rem;
    background-color: transparent;
    font-size:1.15rem;
}

.vs-form-control{
    width: 100%;
}

.vs-btn-group .vs-btn {
    width: 80%;
    border-radius: var(--bs-border-radius-lg);
    outline: none;
    background-color:#f5bb1a;
    border: none;
    font-size: calc(1.275rem + 0.3vw);
    color: #ffffff;
    padding:0.3rem 0;
}

.vs-logo{
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo-img{
    position: relative;
}

.logo-img img{
    width: calc(100px + 5vw);
    border-radius: 50%;
}

.sub-vs-contain-imgBack-from{
    width:50%;
    overflow: hidden;
    height: 600px;
    border-radius: 0 var(--bs-border-radius-lg) var(--bs-border-radius-lg) 0;
}

.sub-vs-contain-imgBack-from .img-background{
    object-fit: contain;
    transform: translate(-35%,0) scaleX(-1);
}

@media screen and (max-width: 650px){
    .vs-contain-imgFront-form {
        width: 80%;
        max-height: 650px;
        max-width: 1020px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        font-family: Poppins;
        box-shadow: 0 0.5rem 1rem #00000026;
        border-radius: var(--bs-border-radius-lg);
        position: relative;
    }

    .sub-vs-contain-imgFront-form {
        border-radius: var(--bs-border-radius-lg);
        background-color: #ffffffd3;
        padding:1rem;
        color:#000;
        width:100%;
        height:600px;
    }

    .sub-vs-contain-imgBack-from{
        width:100%;
        overflow: hidden;
        height: 600px;
        border-radius: var(--bs-border-radius-lg) var(--bs-border-radius-lg) 0 0;
    }

    .sub-vs-contain-imgBack-from .img-background{
        object-fit: contain;
        transform:translate(-35%,-30%) scaleX(-1);
    }

    .vs-logo{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        position: absolute;
        top:0;
        left:0;
        z-index: 10;
    }

    .logo-img{
        position: relative;
        padding:0.5rem;
    }

    .logo-img img{
        width: calc(80px + 1vw);
        border-radius: 50%;
    }
}