.vs-btn-page {
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.9rem;
  font-size: 1rem;
  font-weight:600;
  background-color: #FDFEFE;
  border: 1.5px solid #EAF2F8;
  cursor: pointer;
  /*border-radius: 0.25rem; */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.vs-btn-page:hover {
  color: #000;
  text-decoration: none;
  background-color: #D4E6F1;
  border: none;
}
.vs-btn-page.active, .current-page.active {
  background-color: #27444a;
  color: #fff !important;
}
.vs-page-continum{
  pointer-events: none;
  font-weight:600;
  border:none;
  color:#4661F6;
}
