@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@600&display=swap');

/*Started customize at 22/12/2022*/
:root {
  --menu-bg-color: #e1eaee;
  --menu-color: #8DA0C1;
  --vs-btn-primary: #007aff;
  --vs-btn-secondary: #8e8e93;
  --vs-btn-danger: #ff4036;
  --vs-btn-export: #ffd7a5;
}

.vs-text-danger{
  color:#f6241d;
  background-color:#fff;
  padding:5px 10px;
  font-size:20px;
}

.vs-text-danger:hover{
  color:#fff;
  background-color:#f6241d;
  border-radius:10px;
}

.btn {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.width-search {
  max-width: 300px;
}

.width-icons-custom{
  width:7vw;
}

.modal-fullscreen {
  min-width: 99vw;
  padding:5px;
  margin:0;
}

.width_at_input_discount {
  max-width: 200px;
}

.size_of_icons_consult{
  width:1.5vw;
  padding-left:10px;
}

.kt-aside .kt-aside-menu {
  margin: 0;
  background-color: var(--menu-bg-color);
}

.kt-aside {
  box-shadow: 1px 2px 5px -3px #000000bf;
  -webkit-box-shadow: 1px 2px 5px -3px #000000bf;
  -moz-box-shadow: 1px 2px 5px -3px #000000bf;
}

.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toggler span {
  background: #0f00af;
}

.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toggler span::before,
.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toggler span::after {
  background: #00107a;
}

.form-label {
  font-size: 16px;
}

.jquery-datepicker.theme-light {
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #858585bf;
  -webkit-box-shadow: 0px 0px 5px 0px #858585bf;
  -moz-box-shadow: 0px 0px 5px 0px #858585bf;
}

.img-logo {
  height: 63px;
  margin-left: 100%;
  z-index: 9999;
}

#kt_aside_menu_wrapper ul,
li.kt-menu__item--open,
#_dms_aside_menus,
.kt-menu__nav {
  background-color: transparent;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.vs-btn-custom-primary {
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--vs-btn-primary);
  color: #fff;
}

.vs-btn-custom-secondary {
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--vs-btn-secondary);
  color: #fff;
}

.vs-btn-custom-export {
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--vs-btn-export);
  color: #000;
}

.consult-style-custom{}

.presciption-table > thead th{
   font-weight: bold;
   font-size:1.2em;
   color:#ABB2B9;
}

.consult-icon{
  margin-right:-9px;
}

.consult-menu-selected{
  padding:5px 0;
  border-radius: 15px;
  border:none;
  outline:none;
  background-color:#ffe74a83;
}

.history-menu-selected{
  padding:5px 0;
  border-radius:15px;
  border:none;
  outline:none;
  background-color:#526fff86;
}

.custom-width{
  max-width:272px;
}

.fw-bold{
  font-weight:700 !important;
}

span.span::before{
  content: 'show more';
  color:#2f43c6;
  cursor:pointer;
}

.vs-contain-custom p{
  display:-webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient:vertical;
  overflow:hidden;
}

.vs-contain-custom.active p{
  display:block;
}

.vs-contain-custom.active span.span::before{
  content: 'show less';
  color:#2f43c6;
  cursor:pointer;
}

.menu-selected .icons{
  filter: invert(86%) sepia(100%) saturate(0%) hue-rotate(140deg) brightness(103%) contrast(101%);
}

.vs-contianer-custom{
  padding:10px 20px;
}

.search-box{
  border:1px solid #1f1fff;
  padding:5px 10px;
  border-radius:5px;
}

.search-box:focus{
  border:1px solid #1f1fff;
  outline:none;
  padding:5px 10px;
}

.search-box::placeholder{
  background-color:transparent;
}

.invisable-input{
  border:none;
  outline:none;
  background-color:transparent;
}

.invisable-input:hover{
  border:1px solid #828282;
}

.invisable-input:focus{
  border:1px solid #008000;
}

@media screen and (max-width:820px) {
  .kt-aside__brand {
    display: flex;
  }

  .kt-aside {
    overflow-y: hidden;
  }

  .kt-aside .kt-aside-menu {
    margin: 0;
  }

  .kt-aside--minimize .kt-aside__brand .kt-aside__brand-logo img {
    display: block;
  }
}

/*End*/

.select2-error {
  border: 1px solid red !important;
}

div#kt_aside_brand {
  background-color: var(--menu-bg-color);
}

div#kt_aside_menu_wrapper {
  box-sizing: border-box;
  background-color: #bacfff;
  box-shadow: -6px 6px 2px -3px #6464641a;
  height: 100%;
}

#_dms_aside_menus {
  background-color: #F9FAFA;
}

.kt-menu__nav {
  overflow-y: hidden;
}

/**begin::scrollbar style for all**/
* {
  scrollbar-width: thin;
  scrollbar-color: #C0C3C2 #CBD6D2;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  box-shadow: inset 0 0 6px #0000004d;
}

*::-webkit-scrollbar-track {
  background: #EFF5F3;
}

*::-webkit-scrollbar-thumb {
  background-color: #91D1EE;
  border-radius: 10px;
  /* border:  1.2px solid #91D1EE; */
}

/**end:: scrollbar style for all **/

/** begin:: scrollbar for aside menu **/
ul#_dms_aside_menus {
  scrollbar-width: 3px;
  scrollbar-color: #C0C3C2 #696D6B;
}

/* Works on Chrome, Edge, and Safari */
ul#_dms_aside_menus::-webkit-scrollbar {
  width: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

ul#_dms_aside_menus::-webkit-scrollbar-track {
  background: #EAEDEE;
}

ul#_dms_aside_menus::-webkit-scrollbar-thumb {
  background-color: #91D1EE;
  border-radius: 10px;
  border: 1.2px solid #91D1EE;
}

/**end:: scrollbar for aside menu**/
.has-error {
  border-radius: 3px;
}

span#_dms_brand_label {
  display: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.3em;
}

div.dms-content-header {
  display: flex;
  flex-direction: row;
}

div.dms-content-body {
  width: 100%;
}

/** begin::override btn style| override button style **/
.btn-default {
  background-color: #F5F4DF !important;
  color: #000 !important;
}

.btn-default:active {
  color: #000 !important;
}

.btn {
  font-size: 1em;
}

/** end::override btn style| override button style **/

/** begin::Select2 style modification**/
.select2-container--default,
.select2-search--dropdown {
  min-width: 160px;
}

.select2-selection__rendered {
  height: 30.47px !important;
  padding-top: 5px !important;
}

.select2-results__option--highlighted {
  background-color: #3f9ae5 !important;
  color: #fff !important;
}

/** end::Select2 style modification**/

/** begin::make textbox, select box, table support Khmer unicode font **/
.unicode-text {
  font-family: 'Khmer OS Content', 'DaunPenh', 'Francois One', 'Bayon', 'Verdana', 'Arial Black (sans-serif)', 'Arial (sans-serif)', 'Tahoma (sans-serif)';
}

.select2,
.modal-select2 {
  font-family: 'Khmer OS Content', 'DaunPenh', 'Francois One', 'Bayon', 'Verdana', 'Arial Black', 'Arial (sans-serif)', 'Tahoma (sans-serif)';
}

.cur-riel {
  font-size: 1.3em;
}

div.flat-box {
  border-radius: 3px;
  border: 1.1px solid #DBDFDD;
  padding: 10px;
}

.popover {
  border-color: orange !important;
  min-width: 120px;
}


/** Begin:: VS button style **/
.vs-btn-md {
  font-size: 0.9em;
  font-family: 'Khmer OS Content', 'DaunPenh', 'Francois One', 'Bayon', 'Verdana', 'Arial Black (sans-serif)', 'Arial (sans-serif)', 'Tahoma (sans-serif)';
  border-radius: 15px;
  border: none;
  padding: 7px 10px 7px 10px;
}

.vs-btn-md-success {
  background-color: #149220;
  color: #fff;
}

.vs-btn-md-primary {
  background-color: #27BFD8;
  color: #fff;
}

.vs-btn-md-danger {
  background-color: #F73004;
  color: #fff;
}

.vs-btn-md-default {
  background-color: #E2DD8D;
  color: #fff;
}

.vs-btn-md-primary:hover {
  background-color: #0EC1C3;
  transition-property: background-color;
  transition-timing-function: 0.5s ease-in-out;
}

.vs-btn-round {
  display: block;
  font-size: 19px;
  font-family: 'Khmer OS Content', 'DaunPenh', 'Francois One', 'Bayon', 'Verdana', 'Arial Black (sans-serif)', 'Arial (sans-serif)', 'Tahoma (sans-serif)';
  border-radius: 6px;
  width: auto;
  text-align: center;
  padding: 3px 20px;
}

.vs-btn-round-success {
  background-color: #149220;
  font-size: 0.8em !important;
  color: #fff;
}

.vs-btn-success:hover{
  background-color:#0eb70e;
  color:#fff;
}

.vs-btn-lg {
  border-radius: 25px;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  margin: 5px;
  font-size: 0.8em;
  text-transform: uppercase;
}

.vs-btn-lg:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  --webkit-transition: transform 0.3s ease-in-out;
}

.vs-btn-primary {
  background-color: #27BFD8;
  color: #fff;
}

.vs-btn-danger {
  background-color: red;
  color: #fff;
}

.vs-btn-danger {
  background-color: #F73004;
  color: #fff;
}

.vs-btn-success {
  background-color: #149220;
  color: #fff;
}

.vs-btn-default {
  background-color: #E2DD8D;
  color: #fff;
}

.vs-btn-sm-outline-round {
  border-radius: 15px;
  display: block;
  padding: 2px;
  text-align: center;
  border: 1px solid orange;
}

.vs-btn-sm-outline-round:hover {
  background-color: orange;
}

/** end:: VS Button style **/

/** begin::line animation Loader**/
.animation-line {
  position: relative;
  height: 3px;
  background: rgb(49, 89, 255);
  background: linear-gradient(90deg, #c80000 0%, #fbff16 50%, #050aff 100%);
  animation: lineH 1s 0s infinite ease-in-out;
}

@keyframes lineH {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

/**end:: Line animation loader **/
.img-left-sidebar {
  background: rgb(33, 29, 102);
  background: linear-gradient(160deg, rgba(33, 29, 102, 1) 0%, rgba(80, 80, 231, 1) 35%, rgba(0, 212, 255, 1) 100%);
  border-radius: 100%;
  height: 12.5vw;
  margin-top: 140px;
  padding: 8%;
}

.bg-white {
  background: lightgrey;
  border-radius: 100%;
  height: 10.5vw;
  display: flex;
}

.bg-white img {
  margin: auto;
  height: 7vw;
}

.titleApplicantPrice {
  font-weight: bold;
  font-size: 28px;
}

.titleApplicantTotalAmount {
  font-weight: normal;
  font-size: 22px;
  color: lightgray;
}

.piechartPanel {
  position: relative;
}

.titlePieChart {
  height: 1px;
}

.titlePieChart h1 {
  font-size: 2em;
  position: absolute;
  top: 27%;
  left: 51%;
  transform: translate(-50%, -50%);

}

.titlePieChart img {
  height: 25px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titleTotalCollected {
  padding-top: 20px;
  font-size: 22px;
  text-align: center;
  color: #3490dc;
}

.titleLastDay {
  color: #f6993f;
}

.canvasjs-chart-credit {
  display: none;
}

@media (max-width: 576px) {
  .panelAllReportLeftSideBar {
    display: none;
  }
}

.dialog-error {
  position: absolute;
  bottom: 10px;
  padding: 8px;
  margin-left: 15px;
  margin-right: 15px;
  min-width: 50%;
  width: auto;
  border-radius: 25px;
  border: 1px solid red;
  /* background-color: #F5900F; */
  transition-property: border;
  transition: transform 0.7s cubic-bezier(0.32, 0, 0.67, 0);
}

.dialog-error-text {
  font-size: 1em;
  color: #c80000;
}

tr.row-expanded td {
  border-bottom: none !important;
}

tr.detail-row td {
  border-top: none !important;
}

.combo-box {
  padding: 5px;
  height: 37.05px;
  border: 1px solid grey;
  border-radius: 5px;
  color: #707275;
}

.combo-box-strong {
  background-color: #F5F8FD;
}

.kt-menu__link-text {
  font-size: 1em !important;
}

/* .swal2-styled.swal2-cancel {
  color: #fff !important;
  background-color: #E9ECDF;
} */

.text-success {
  font-weight: bold;
  color: green;
}

span.simple-label,
label.simple-label {
  font-family: 'Robotto', 'Khmer OS Content', 'DaunPenh', 'Francois One', 'Bayon', 'Verdana', 'Arial Black (sans-serif)', 'Arial (sans-serif)', 'Tahoma (sans-serif)';
  margin-top: 10px;
  font-size: 1em;
  padding: 3px;
  color: #72878f;
  font-weight: normal;
  display: block;
}

span.v-label {
  color: #CAF3AB;
  padding-left: 10px;
  font-size: 1.1em;
  font-weight: bold;
}

div.v-control-group {
  display: flex;
  flex-direction: column;
}

span.v-label-focus {
  color: #18C148;
  margin-left: 10px;
  transform: scale(1.3);
  transition: 0.1s ease-in;
}

.error_text {
  color: red;
  font-size: 1em;
  padding: 3px;
  font-family: 'Khmer OS Content', 'DaunPenh', 'Robotto', 'Francois One', 'Bayon', 'Verdana', 'Arial Black (sans-serif)', 'Arial (sans-serif)', 'Tahoma (sans-serif)';
  display: block;
}

table.header-light-blue>thead th {
  font-weight: bold !important;
  color: #185c81 !important;
  font-family:Poppins;
}

table.header-uppercase>thead th {
  text-transform: uppercase;
}

table.table>thead th {
  border-bottom: none !important;
}

tbody, td, tfoot, th, thead, tr{
  border-style:none;
}


/*Begin style of modal dialog*/
.vs-modal-dialog .form-control,
.vs-modal-dialog .form-select{
  border:1px solid #ced4da80;
}

.vs-modal-dialog .vital-signs input{
  border-bottom:1px solid #ced4da80 !important;
}

.vs-modal-dialog .vital-signs,
.vs-modal-dialog .medical-condition-panel,
.vs-modal-dialog .service-reg-panel{
  border:none !important;
}

.vs-modal-dialog .modal-header{
  border-bottom:none;
  font-family:Montserrat;
}

.vs-modal-dialog .modal-footer{
  border-top:none;
}

.vs-modal-dialog .modal-content{
  border-radius:10px;
  padding: 10px 12px;
}

.vs-modal-dialog .modal-body .form-label,
.vs-modal-dialog .modal-body .simple-label,
.vs-modal-dialog .modal-body .header-text{
  font-family:Poppins;
}

.vs-modal-dialog .vs-btn-color-save{
  background-color:#2673FD;
}

.vs-modal-dialog .btn-primary,
.vs-modal-dialog .btn-primary:hover{
  background-color:#2673fd;
  color:#fff;
}

.vs-modal-dialog .btn-default,
.vs-modal-dialog .btn-secondary:hover,
.vs-modal-dialog .btn-default:hover{
  background-color:#EB0000 !important;
  color:#ffffff !important;
  font-weight:normal;
}

.vs-modal-dialog .btn-default i,
.vs-modal-dialog .btn-primary i{
  display:none;
}

.vs-modal-dialog .btn-default:hover{
  background-color:#eb0000;
  color:#ffffff;
}

.vs-modal-dialog .modal-title{
  font-weight: 550 !important;
}
/*End style of modal dialog*/

.frame-photo{
  width:210px;
  height:211px;
  margin-bottom:10px;
  border:1px solid #9b9b9b9a;
  border-radius:10px;
}

.bootstrap-custom .vs-d-flex{
  display: flex;
}

@media screen and (min-width: 1400px) and (max-width:2000px){
  .responsive-width{
    width:204px !important;
  }

  .bootstrap-custom .vs-d-flex{
    display: block !important;
  }
}

.border-moving {
  --border-size: 2px;
  --border-angle: 0turn;
  --border-radius: 15px;
  background-image: conic-gradient(from var(--border-angle),
      #213,
      #112 50%,
      #213),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 2s linear infinite;

  @keyframes bg-spin {
    to {
      --border-angle: 2turn;
    }
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}